<h1>New Message</h1>

<% if @message.errors.any? %>
  <p>Opps somthing went wrong</p>
  <ul>
    <% @message.errors.full_message.each do |sms| %>
      <li>sms</li>
    <% end %>
  </ul>
<% end %>

<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.text_field :to %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
